.website-bg {
    background-color: #12244a;
}
.navbar-bg {
    background-color: #21345c;
}

.banner-image {
    width: 700px;
}
.navbar-image {
    color: black;
}
.banner-text {
    color: white;
    font-size: 50px;
    font-family:'Franklin Gothic Medium';
}