.website-bg {
    background-color: #12244a;
}
.navbar-bg {
    background-color: #21345c;
}
.banner-background {
    background-image: url(images/banner-background.png);
    background-size: cover;
    width: 3000px;
    height: 90vh;
}
.banner-image {
    width: 600px;
    height: 600px;
}
.navbar-image {
    color: black;
}
.banner-text {
    color: white;
    font-size: 50px;
    font-family:'Helvetica Neue';
}
.author-card {
    background-color: white;
}
.author-card-image {
    width: 100px;
}